---
import { SITE_TITLE } from "../consts";
import { h2, header, links, nav } from "./Header.css";
import HeaderLink from "./HeaderLink.astro";
import SocialLinks from "./SocialLinks.astro";
---

<header class={header}>
  <nav class={nav}>
    <h2 class={h2}><a href="/">{SITE_TITLE}</a></h2>
    <div class={links}>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <SocialLinks collapsing linkColor="black" />
  </nav>
</header>
