---
import type { CollectionEntry } from "astro:content";

import BaseHead from "../components/BaseHead.astro";
import { BlogTitle } from "../components/BlogTitle";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { HeroImage } from "../components/HeroImage";
import { main, prose } from "../components/Main.css";

type Props = CollectionEntry<"blog">["data"];

const { description, heroImage, pubDate, title, updatedDate } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead description={description} title={title} />
  </head>

  <body>
    <Header />
    <main class={main}>
      <article>
        {
          heroImage && (
            <HeroImage alt="" height={510} src={heroImage} width={1020} />
          )
        }
        <div class={prose}>
          <BlogTitle
            pubDate={pubDate}
            title={title}
            updatedDate={updatedDate}
          />
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
